/* Header styles */
.header {
    background-color: #37517E;
    color: white;
    padding: 20px 0;
}

/* Container to center the content */
.container {
    max-width: 1200px; /* Optional, can be adjusted */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Add some horizontal spacing */
}

/* Logo styles */
.logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    font-family: "Open Sans", sans-serif;
}

/* Navigation styles */
.navigation ul {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    transition: color 0.3s ease;
}

.navigation ul li a:hover {
    color: #47B2E4; /* Cambiar color del texto */
    transform: scale(1.1); /* Agranda ligeramente el texto */
}
